.bg-dark-blue {
    background-color: #2e3d8a;
}
.bg-mid-blue {
    background-color: #3b4ea1;
}
.btn-blue {
    background-color: #5d71d6;
}
.text-button-blue {
    color: #2e3d8a;
}
.bg-icon {
    background-color: #f0f2f6;
}

.services-card {
    border-bottom: 4px solid #5d71d6;
}
.text-description {
    color: #dddddd;
}
.cover {
    object-fit: fill;
    object-position: center;
}
.w-lg-60 {
    width: 100%;
}

* {
    font-family: "Inter", sans-serif;
}
body {
    overflow-x: hidden;
}